[user]
	email = josh.simmons@gmail.com
	name = Josh Simmons
[core]
	editor = vim
[diff]
	tool = vimdiff
	guitool = tkdiff
[pager]
    diff = 
[merge]
	tool = vimdiff
[difftool]
	prompt = false
[alias]
	d = difftool
[push]
	default = simple
